    <header>
      <div class="nav">
        <div class="title">poirot</div>
        <ul class="links">
          <%= link_to "新規登録", new_user_registration_path, class: 'signup' %>
          <%= link_to "ログイン", new_user_session_path, class: 'login' %>
          <%# ログイン時表示する %>
          <%#= link_to "ユーザー名", "#", class: 'username' %>
          <%#= link_to "ログアウト", "#", class: 'logout' %>
          <%# //ログイン時表示する %>
        </ul>
      </div>
    </header>