    <header class="primary-header">
      <div class="nav">
        <a href="/"><div class="title">poirot</div></a>   <%#ロゴ画像完成後↓に実装%>
        <%#= link_to image_tag("book.jpg"), "/", class:"title" %>
        <ul class="links">
          <% if user_signed_in? %>
            <%= link_to current_user.nickname, "#", class: 'username' %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout' %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: 'signup' %>
            <%= link_to "ログイン", new_user_session_path, class: 'login' %>
          <% end %>
        </ul>
      </div>
    </header>