<div class="novel-up-contents">
  <header class="novel-up-header">
    <%= link_to image_tag('book.jpg' , size: '185x50'), "/" %>
  </header>
 
  <div class="novel-up-main">
    <h1 class="novel-up-title">執筆添削</h1>

    <%= render "form" %>
  </div>

  <footer class="novel-up-footer">
    <%= link_to image_tag('book.jpg' , size: '185x50'), "/" %>
  </footer>
</div>
